// Empty application overlay in the application's root directory.
//
// This overlay file is only picked up by the build process if:
// - the CMake variable DTC_OVERLAY_FILE is not set (or not set to this file)
// - no board overlay files exist (neither in the root directory, nor in "boards")
//
// The automatically detected application overlay is only useful if you're not planning
// on overriding board devicetree files, since otherwise the file will no longer be
// picked up by the build - unless you specify it using the CMake variable
// EXTRA_DTC_OVERLAY_FILE.