// Empty board overlay in the application's root directory.
//
// This overlay file is only picked up by the build process if:
// - the CMake variable DTC_OVERLAY_FILE is not set (or not set to this file)
// - nrf52840dk_nrf52840 is the chosen board
// - and no board overlay file(s) for the nrf52840dk_nrf52840 exist in the "boards" directory.
//
// It is recommended to place the board's overlay file, if used, into the "boards" directory.
// Support for board overlay files in the application's root directory exists for legacy
// reasons.